.card {
    border-color: $light-gray;
}

.card-header {
    background-color: $gray;
    border-bottom-color: $light-gray;
}

.card-body {
    background-color: $gray;
}

.card-footer {
    background-color: $gray;
    border-top-color: $light-gray;
}