.video-container {
    //border: 1px solid $green;
}

.entelect-logo {
    height: 72px;
    position:absolute;
    right:0;
    bottom:0;
    margin: 25px;
}

// #live-video,#live-canvas {
//     transform: rotateY(180deg);
//     -webkit-transform:rotateY(180deg); 
//     -moz-transform:rotateY(180deg);
// }